.content-container {
  padding-top: calc(var(--tg-content-safe-area-inset-top));
  padding-bottom: var(--tg-content-safe-area-inset-bottom);
  padding-left: var(--tg-content-safe-area-inset-left);
  padding-right: var(--tg-content-safe-area-inset-right);
  background-color: black;
  color: white;
  min-height: 100vh;
  overflow: auto;
}