.content-container {
    width: 100%;
    min-height: 100vh;
    padding-top: calc(var(--tg-content-safe-area-inset-top, 16px) + 40px);
    padding-bottom: var(--tg-content-safe-area-inset-bottom, 16px);
    padding-left: var(--tg-content-safe-area-inset-left, 16px);
    padding-right: var(--tg-content-safe-area-inset-right, 16px);
    background-color: black;
    color: white;
  }